img {
	height: auto;
	width: auto;
}

.Wrapper {
	position: absolute;
	height: 100vh;
	width: 100%;
	max-width: 100vw;
}
.Home {
	width: 100%;
	height: 90%;
	margin-top: 62px;
}

.Section {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	width: 100%;
	height: 100%;
	overflow: hidden;
}

.Info {
	margin-top: 5rem;
	text-align: center;
}

.Logo {
	font-family: "Work Sans", sans-serif;
	font-weight: 400;
	font-size: 122px;
	letter-spacing: 1rem;
	color: #3362cc;
	border-bottom: #3362cc solid 5px;
	border-spacing: 5px;
	text-align: center;
}

.SubHeader {
	margin-top: 5px;
	color: #3362cc;
	font-family: "Noto Sans SC", sans-serif;
	font-weight: 400;
	font-size: 40px;
	white-space: nowrap;
}

.TagLine {
	max-width: 700px;
	color: #3362cc;
	font-family: "Noto Sans SC", sans-serif;
	font-weight: 100;
	font-size: 35px;
	margin-top: 5px;
	margin-bottom: 25px;
}
.CardWrapper {
	display: flex;
	justify-content: center;
	height: 100%;
	min-height: 500px;
}

.Card {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	background-color: rgb(252, 252, 252);
	padding: 50px;
	height: 300px;
	width: 300px;
	border-radius: 5px;
	box-shadow: 0px 4px 12px rgb(0 0 0 / 8%), 0 0px 1px rgb(1 0 0 / 10%);
}

.Form {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-around;
}

.Label {
	display: flex;
	flex-direction: row;
	font-family: "Noto Sans SC", sans-serif;
	padding: 10px 15px;
	color: #3362cc;
}

.Required {
	font-weight: 200;
	color: rgb(231, 84, 84);
}

input {
	width: 90%;
	font-family: "Noto Sans SC", sans-serif;
	font-size: 100%;
	padding: 10px;
	color: #19326d;
	border: 1px solid #3362cc;
	border-radius: 5px;
	box-shadow: 0px 4px 24px rgb(0 0 0 / 8%), 0 0px 1px rgb(1 0 0 / 10%);
	max-width: 250px;
	margin-bottom: 15px;
}

button {
	padding: 10px;
	font-size: 100%;
	width: 90%;
	max-width: 300px;
	border-radius: 5px;
	border: none;
	margin: 10px;
	color: #3362cc;
	border: 2px solid #3362cc;
	background-color: white;
	box-shadow: 0px 4px 12px rgb(0 0 0 / 8%), 0 0px 1px rgb(1 0 0 / 10%);
	transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
}

button:hover {
	background-color: #3362cc;
	color: white;
}
